/* Light Mode */
body {
    --background-color: #f8f9fa;
    --text-color: #212529;
    --link-color: #007bff;
    --header-background: #ffffff;
    --header-text-color: #333;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: #0056b3;
}

/* Dark Mode */
body.dark-mode {
    --background-color: #212529;
    --text-color: #f8f9fa;
    --link-color: #17a2b8;
    --header-background: #343a40;
    --header-text-color: #f8f9fa;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode header {
    background-color: var(--header-background);
    color: var(--header-text-color);
}

body.dark-mode a {
    color: var(--link-color);
}

body.dark-mode a:hover {
    color: #0d6efd;
}